:root {
  --neutral-900: #02012c;
  --neutral-800: #262540;
  --neutral-700: #302f4a;
  --neutral-600: #3c3b5e;
  --neutral-300: #acacb7;
  --neutral-200: #d4d3d9;
  --neutral-0: #ffffff;

  --orange-500: #ff820a;

  --blue-500: #4658d9;
  --blue-700: #2b1b9c;
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

.app-shell {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-caption {
  text-align: center;
}

.search-form {
  input,
  button {
    width: 100%;
  }
  input {
  }

  button {
  }
}

.current-conditions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .info-primary {
    background-color: var(--blue-500);
    text-align: center;
  }

  .group-current-wx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .temp {
      font-size: 6rem;
    }
  }

  .info-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    .card {
      background-color: var(--neutral-800);
    }
  }
}

.daily-forecast {
  .wrapper-daily-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .card {
    text-align: center;
    background-color: var(--neutral-800);
    padding: 0.625rem;
  }

  .temp {
    font-size: 85%;
    display: flex;
    justify-content: space-between;
  }
}

.hourly-forecast {
  background-color: var(--neutral-800);
  padding: 1rem;
  .wrapper-hourly-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    background-color: var(--neutral-700);
    padding: 0.8rem;
    display: inline-grid;
    grid-template-columns: 15% 1fr 1fr;
    align-items: center;
  }

  .temp {
    text-align: right;
  }
}
